/* Variables*/
$color-principal: hsl(334, 75%, 89%);
$color-secundario: #f5f5dc;
$color-terciario: #f0ffff;
$color-text: black;
$tipo-de-fuente: 'Roboto Condensed', sans-serif;



/*maps*/

$redes: (
    facebook:#fff,
    instagram:#dd208b,
);
@each $red, $color in $redes {
    .red -#{$red} {
        color:$color
    }
    
}



//mixins
@mixin size ($ancho, $alineado, $margen) {
    width: $ancho;
    align-items: $alineado;
    margin: $margen;
    
}
