/* Variables*/
$color-principal: #f4d9cb;
$color-secundario: #f1f1f3;
$color-terciario:#ced4da ;
$color-cuarto:#369671;
$color-text: black;
$tipo-de-fuente: 'Roboto Condensed', sans-serif;



/*maps*/

$redes: (
    facebook:#fff,
    instagram:#dd208b,
);
@each $red, $color in $redes {
    .red -#{$red} {
        color:$color
    }
    
}



//mixins
@mixin size ($ancho, $alineado, $margen) {
    width: $ancho;
    align-items: $alineado;
    margin: $margen;
    
}
