/* Variables*/
$color-principal: hsl(334, 75%, 89%);
$color-secundario: #f5f5dc;
$color-terciario: #f0ffff;
$color-text: black;



* {
    margin: 0%;
    padding: 0%; }
  
  html {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger; }
  
  body {
    background-color: $color-secundario;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    background-color: $color-terciario;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto; }
  
  .contenedor {
    display: grid;
    grid-template-areas: "header" 
   "nav"
   "main" 
   "footer"; }
  
  /*estilo de header*/
  header {
    background:$color-principal;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    background-size: cover;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
  
  h3 {
    text-align: center; }
  
  /* Estilo de main*/
  main {
    width: 100%;
    margin: auto; }
  
  article {
    display: grid;
    grid-template-columns: 100%;
    align-items: center; }
  
  :nth-child(odd) {
    text-align: left; }
  
  .img1 {
    grid-column: 1; }
  
  .content2 {
    grid-column: 1;
    grid-row: 1;
    margin-right: 50px;
    text-align: justify; }
  
  .img {
    grid-column: 1; }
  
  .content {
    grid-column: 1; }
  
  p {
    display: inline; }
  
  .cta {
    display: block;
    margin: 10px auto 0;
    animation-name: ltiemo;
    animation-iteration-count: 5s;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 5s; }
  
  @keyframes ltiemo {
    0% {
      width: 10%;
      font-size: small; }
    50% {
      width: 50%; }
    100% {
      width: 100%; } }
  
  /* estilos de main */
  article {
    font-family: 'Roboto Condensed', sans-serif; }
  
  img {
    width: 70%; }
  
  .box2 img:hover {
    padding: 20px;
    transform: scaleX(1, 2); }
  
  .content {
    padding: 25px;
    box-sizing: border-box;
    text-align: justify; }
  
  h2 {
    font-size: 1.5rem; }
  
  p {
    font-size: .9rem; }
  
  .cta {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    line-height: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: $color-text;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box; }

    #carouselExampleCaptions img {
      width: 85%;
    }

    .foto img{
        width: 250px ;
        align-items: center;
        margin: 0 auto;
    }
    .card{
        width: 250px;

    }

    #tarjetas{
        margin: 50px auto;
    }
    
  
  /*media queries*/
  @media only screen and (min-width: 768px) {
    .contenedor {
      grid-template-areas: "header"
   "nav"
   "main" 
   "footer"; }
   
  /* Estilo de main*/
    main {
      width: 70%;
      margin: auto; }
    article {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center; }
    :nth-child(odd) {
      text-align: center; }
    .img1 {
      grid-column: 2; }
    .content2 {
      grid-column: 1;
      grid-row: 1; }
    .img {
      grid-column: 1; }
    .content {
      grid-column: 2; }
    p {
      display: inline-block; }
    .cta {
      display: block;
      margin: 10px auto 0; }
    /* estilos main*/
    article {
      font-family: Roboto, sans-serif; }
    img {
      width: 100%; }
    .content {
      padding: 50px;
      box-sizing: border-box; }
    h1 {
      font-size: 1.5rem; }
    p {
      font-size: .9rem; }
    .cta {
      width: 180px;
      height: 40px;
      border-radius: 20px;
      border: 2px solid #000;
      line-height: 40px;
      text-align: center;
      font-size: 1.1rem;
      color: $color-text;
      text-decoration: none;
      margin-top: 10px;
      position: relative;
      box-sizing: border-box; }
    .content4 {
      display: inline; }
    .pcarte {
      text-align: center; }
    .ordenador {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: center;
      align-items: center; } 
    }
  


