/* Variables*/
/*maps*/
.red -facebook {
  color: #fff;
}

.red -instagram {
  color: #dd208b;
}

* {
  margin: 0%;
  padding: 0%;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
}

body {
  background-color: #f5f5dc;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background-color: #f0ffff;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0px auto;
}

.contenedor {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header"  "nav" "main"  "footer";
}

/*estilo de header*/
header {
  background: #f8cee0;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
  background-size: cover;
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

h3 {
  text-align: center;
}

/* Estilo de main*/
main {
  width: 100%;
  margin: auto;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:nth-child(odd) {
  text-align: left;
}

.img1 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.content2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-right: 50px;
  text-align: justify;
}

.img {
  -ms-grid-column: 1;
  grid-column: 1;
}

.content {
  -ms-grid-column: 1;
  grid-column: 1;
}

p {
  display: inline;
}

.cta, .cta-primario {
  display: block;
  margin: 10px auto 0;
  -webkit-animation-name: ltiemo;
          animation-name: ltiemo;
  -webkit-animation-iteration-count: 5s;
          animation-iteration-count: 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes ltiemo {
  0% {
    width: 10%;
    font-size: small;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes ltiemo {
  0% {
    width: 10%;
    font-size: small;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/* estilos de main */
article {
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 70%;
}

.box2 img:hover {
  padding: 20px;
  -webkit-transform: scaleX(1, 2);
          transform: scaleX(1, 2);
}

.content {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: justify;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: .9rem;
}

.cta, .cta-primario {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #000;
}

.cta-primario {
  line-height: 40px;
  text-align: center;
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#carouselExampleCaptions img {
  width: 85%;
}

.foto img {
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.card {
  width: 250px;
}

#tarjetas {
  margin: 50px auto;
}

/*media queries*/
@media only screen and (min-width: 768px) {
  .contenedor {
        grid-template-areas: "header" "nav" "main"  "footer";
  }
  /* Estilo de main*/
  main {
    width: 70%;
    margin: auto;
  }
  article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  :nth-child(odd) {
    text-align: center;
  }
  .img1 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .content2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .content {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  p {
    display: inline-block;
  }
  .cta, .cta-primario {
    display: block;
    margin: 10px auto 0;
  }
  /* estilos main*/
  article {
    font-family: "Roboto Condensed", sans-serif;
  }
  img {
    width: 100%;
  }
  .content {
    padding: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: .9rem;
  }
  .cta, .cta-primario {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;
    line-height: 40px;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .content4 {
    display: inline;
  }
  .pcarte {
    text-align: center;
  }
  .ordenador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fa-brands {
  color: #fff;
  margin-left: 5px;
}
/*# sourceMappingURL=prueba.css.map */